html{
    background-color: indigo;
}
body {
    width: 600px;
    padding: 50px;
    margin:0 auto;
    background-color: pink;

}

h1{
    font-family: "Lucida Sans Unicode";
    letter-spacing: 2px;
    text-align: center;
    text-decoration-line: underline;
}